.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Navbar.css */
nav {
  background-color: #333; /* Dark background */
  padding: 10px 20px; /* Some padding */
  width: 100vw;
}

nav ul {
  list-style: none; /* Remove bullet points */
  margin: 0;
  padding: 0;
  display: flex; /* Horizontal layout */
}

nav ul li {
  margin-right: 20px; /* Space between links */
}

nav ul li a {
  color: white; /* White text */
  text-decoration: none; /* Remove underline */
  font-weight: bold; /* Bold text */
}

nav ul li a:hover {
  text-decoration: underline; /* Underline on hover */
}

nav {
  border-bottom: 2px solid #444; /* Border at the bottom */
}

